<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Apariencia</ion-label>
    </ion-list-header>

    <ion-item class="settings-item theme-toggle">
      <ion-toggle 
        [checked]="currentTheme() === 'dark'"
        (ionChange)="toggleTheme()"
        justify="space-between"
      >
        Tema Oscuro
        <ion-note slot="end">
          {{ getThemeLabel() }}
        </ion-note>
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>